@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

:root {
    --main-color: #ea68aa;
    --second-color: #3962cb;
    --text-color: #333;
    --transition: 0.4s;
    --sections-padding: 60px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0effd;
}

ul {
    list-style: none;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

.container {
    width: 95%;
    padding: 0 30px;
    margin: 0 auto;
}

/* start component  */
.btn {
    padding: 10px 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.main-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2.main-title {
    margin-bottom: 15px;
    color: gray;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 500;
}

.head-top {
    text-align: center;
}

.head-top p {
    color: gray;
    line-height: 1.7;
}

@media (max-width: 767px) {
    h2.main-title {
        font-size: 20px;
    }

}

/* end component  */

/* start header  */

header {
    width: 100%;
    position: fixed;
    background: #f0effd;
}

header .container {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 54px;
}

header .logo img {
    width: 100%;
}

.main-nav .menu-icon {
    display: none;
    flex-direction: column;
    gap: 7px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.main-nav .menu-icon span {
    width: 100%;
    height: 5px;
    background-color: var(--second-color);
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
    -moz-transition: all var(--transition);
    -ms-transition: all var(--transition);
    -o-transition: all var(--transition);
}

.main-nav .menu-icon span:nth-child(2) {
    left: 5px;
}

.main-nav .menu-icon.active span:nth-child(2) {
    left: -5px;
}

header .nav {
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    display: flex;
    transition: all var(--transition);
    -webkit-transition: all var(--transition);
    -moz-transition: all var(--transition);
    -ms-transition: all var(--transition);
    -o-transition: all var(--transition);
}

header .nav li a {
    color: #333;
    font-weight: 700;
}

header .nav li.btn {
    background-image: linear-gradient(90deg, var(--main-color) 0%, var(--second-color) 100%);
}

header .nav li.btn a {
    color: #fff;
}

@media (max-width: 767px) {
    .main-nav .menu-icon {
        display: flex;
    }

    header .nav {
        display: none;
    }

    header .nav.active {
        display: flex;
        position: absolute;
        top: 63px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #f0effd;
        padding: 20px 0;
        transition: all var(--transition);
        -webkit-transition: all var(--transition);
        -moz-transition: all var(--transition);
        -ms-transition: all var(--transition);
        -o-transition: all var(--transition);
        z-index: 1000000;
    }
}

/* end header  */
/* start hero page  */
.hero {
    padding: var(--sections-padding) 0;
    background-image: url(imgs/Asset\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 63px;
}

.hero .text-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero .text-content h2 {
    color: gray;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 300;
}

.hero .text-content p {
    color: gray;
    line-height: 1.7;
}

.hero .text-content a.btn {
    background-color: #333;
    width: fit-content;
    color: #fff;
}

@media (min-width: 767px) {
    .hero .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* end hero page  */
/* start features  */

.feat {
    padding: var(--sections-padding) 0;
}

.feat .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.feat .content {
    text-align: center;
}

.feat .content .title {
    margin-bottom: 15px;
}

@media (min-width: 767px) {
    .feat .content {
        text-align: start;
    }

    .feat .content .title {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}

/* end features  */
/* start way */

.way {
    padding: var(--sections-padding) 0;
    background-image: url(imgs/Asset\ 3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom right;
    min-height: 100vh;
}

.way .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}

.way .title-holder {
    margin: 0 auto;
}

.way .container .text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.way .container .text-content .box {
    display: flex;
    gap: 20px;
    color: gray;
}

.way .container .text-content .btn-holder a.btn {
    color: #fff;
}

.way .container .text-content .btn-holder a.btn:first-child {
    background-color: #333;
}

.way .container .text-content .btn-holder a.btn:nth-child(2) {
    background-color: var(--main-color);
}

@media (min-width: 767px) {
    .way {
        background-size: 30%;
        background-position: center right;
        min-height: 100%;
    }

    .way .content {
        width: 70%;
    }

    .way .container .text-content .btn-holder {
        margin: 0 auto;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* end way */
/* start service */
.service {
    padding: var(--sections-padding) 0;
}

.service .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.service .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.service .content .card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.service .content .card .img {
    width: 35%;
}

.service .content .card .img img {
    width: 100%;
}

.service .content .card .box {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service .content .card .box h3 {
    font-size: 28px;
    margin-bottom: 30px;
    color: gray;
    text-transform: uppercase;
}

.service .content .card .box p {
    font-size: 20px;
    margin-bottom: 20px;
    color: gray;
}

.service .content .card .box a {
    color: #fff;
    width: fit-content;
}

.service .content .card:first-child .box a {
    background: var(--main-color);
}

.service .content .card:nth-child(2) .box a {
    background: #333333;
}

.service .content .card:nth-child(3) .box a {
    background: var(--second-color);
}

.service .content .card:last-child .box a {
    background: #8f65bb;
}

@media (max-width: 767px) {
    .service .content .card {
        flex-direction: column;
        gap: 30px;
    }

    .service .container .card:nth-child(2),
    .service .container .card:nth-child(4) {
        flex-direction: column-reverse;
    }

    .service .content .card .img {
        width: 50%;
    }

    .service .content .card .box {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

/* end service */

/* start about  */
.about {
    padding: var(--sections-padding) 0;
}

.about .content {
    margin-top: 30px;
}

.about .content .box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #45454550;
}

.about .content .box .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.about .content .box .info h2 {
    font-size: 18px;
    letter-spacing: 3px;
}

.about .content .box .desc {
    color: gray;
}

@media (max-width: 767px) {
    .about .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about .content .box .info {
        gap: 20px;
        flex-direction: column;
    }

    .about .content .box .info h2 {
        font-size: 16px;
    }

    .about .content .box .desc {
        text-align: center;
    }
}

/* end about  */
/* start why  */
.why {
    padding: var(--sections-padding) 0;
}

.why .content {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.why .content .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why .content .box h3 {
    margin-top: 25px;
    color: gray;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .why .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* end why  */
/* start subscribe  */
.subscribe {
    padding: var(--sections-padding) 0;
    background-image: url(imgs/Asset\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.subscribe .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subscribe .head-top h2,
.subscribe .head-top p {
    color: #fff;
}

.subscribe .subs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.subscribe .subs input {
    background-color: #434343;
    border: none;
    width: 40%;
    padding: 15px 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.subscribe .subs input::placeholder {
    color: #fff;
}

.subscribe .subs a {
    padding: 15px 25px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 130px;
    position: relative;
    right: 130px;
}

@media (max-width: 767px) {
    .subscribe {
        background-position: center;
    }

    .subscribe .subs {
        flex-direction: column;
        gap: 15px;
    }

    .subscribe .subs input {
        width: 100%
    }

    .subscribe .subs a {
        width: fit-content;
        right: 0;
    }
}

/* end subscribe  */
/* start footer  */
footer {
    background-color: #333;
    padding: var(--sections-padding) 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .logo {
    width: 54px;
}

footer .top .logo img {
    width: 100%;
}

footer .top .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

footer .top .links a {
    color: gray;
    text-transform: capitalize;
}

footer .copy-right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer .copy-right a {
    color: var(--main-color);
    margin-left: 5px;
}

@media (max-width: 767px) {

    footer .top,
    footer .top .links {
        flex-direction: column;
        gap: 10px;
    }
}

/* end footer  */